<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:annotation-config />
<!-- 	<context:component-scan base-package="com.home.server.entities" /> -->

	
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
        	<list>
            	<value>WEB-INF/system.properties</value>
            	<value>WEB-INF/application.properties</value>
            </list>
        </property>
    </bean>
	
	<import resource="classpath:/WEB-INF/hibernate.xml" />
	<import resource="classpath:/WEB-INF/dao-context.xml" />
	<import resource="classpath:/WEB-INF/service-context.xml" />
	<import resource="classpath:/WEB-INF/template-context.xml" />
	
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/WEB-INF/resourcebundle/messages" />
		<property name="cacheSeconds" value="0" />
	</bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="50000" />
	</bean>
	
	<bean class="com.home.server.service.impl.ApplicationContextProvider"/>
	
</beans>
